/* Déclarations générales */

/*
dimension les plus vues en web :
px      =>  Pixel
em      =>  cadratin : unité de mesure en print sur les presses
            le cadratin se calcul par rapport à son parent
rem     =>  cadratin racine : se calcul par rapport à la taille racine de police
%       =>  pourcentage, se calcule par rapport à l'élément qui le contient
vw & vh =>  viewport width & viewport height : correspond à la taille 
            d'affichage de la page en largeur et en hauteur
            si affichage en largeur 768px alors 20vw = 153.6 px

si 2em = 32 px, 1em = 16px
*/

:root {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    --general-font-color: rgb(48, 47, 47);
    color: var(--general-font-color);
    --header-bg-color: rgb(48, 47, 47);
    --header-font-color: white;
}

/* 
Force le calcul des dimensions des "boîtes" ou éléments de la page (box-sizing)
par rapport à l'extérieur des bordures (border-box) et non par rapport au contenu (content-box) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* exemple de lettrine */
/*
p::first-letter{
    font-size: 2rem;
    font-family : 'Times New Roman', Times, serif;
    overflow:hidden;
    width:75px;
    height:75px;
    float:left;
    margin:0px 5px 1px 0;
    background-image: url('../images/y-so-serious-white.png');
}
*/

/* classes, pseudo classes et selecteurs id */

.deuxEm{
    font-size: 2em;
}

.deuxRem{
    font-size: 2rem;
}

/* sélecteurs selon la structure */

body{
    margin: 0;
}

body > header{
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-image: url('../images/gundam-01-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body > header > div > *{
    text-shadow: 0 0 10px black ;
    width: 100%;
    text-align: center;
    margin: 0;
}


body > footer{
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
}

/* css adaptatif */
/* usage de media queries */

/* css pour l'impression des pages */
/* usage de media queries */
